*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 100%, hsla(272, 26%, 72%, 1) 100%);
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #333, lightgray, #333);
    border-radius: 50%;
}

.dial {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190px;
    height: 190px;
    transform: translate(-50%, -50%);
    background: linear-gradient(120deg, lightgray, white, lightgray, white);
    border:5px solid #333;
    border-radius: 50%;
}

.innerDial {
    position: absolute;
    width:160px;
    height: 160px;
    background: radial-gradient(lightgray, white, lightgray);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.innerDial2 {
    position: absolute;
    width:175px;
    height: 175px;
    background: radial-gradient(lightgray, white, lightgray);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dialCenter {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
}

.dial__text {
    position: absolute;
    z-index: 9;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.number {
    position: absolute;
    color: white;
    padding: 5px;
    z-index: 4;
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-size: 35px;
    -webkit-text-stroke: 2px black;
}

.number12 {
    left: 50%;
    transform: translateX(-50%);
}

.number3 {
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}

.number6 {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
}

.number9 {
    top:50%;
    transform: translateY(-50%);
}

.marking {
    height:180px;
    width:2px;
    background-color: #333;
    position: absolute;
    left: 50%;
    top:50%;
    transform-origin: 1px 90px;
    transform: translate(-50%, -50%);
}

.marking1 {
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 2;
}

.marking2 {
    transform: translate(-50%, -50%) rotate(6deg);
}

.marking3 {
    transform: translate(-50%, -50%) rotate(12deg);
}

.marking4 {
    transform: translate(-50%, -50%) rotate(18deg);
}

.marking5 {
    transform: translate(-50%, -50%) rotate(24deg);
}

.marking6 {
    transform: translate(-50%, -50%) rotate(30deg);
    z-index: 2;
}

.marking7 {
    transform: translate(-50%, -50%) rotate(36deg);
}

.marking8 {
    transform: translate(-50%, -50%) rotate(42deg);
}

.marking9 {
    transform: translate(-50%, -50%) rotate(48deg);
}

.marking10 {
    transform: translate(-50%, -50%) rotate(54deg);
}

.marking11 {
    transform: translate(-50%, -50%) rotate(60deg);
    z-index: 2;
}

.marking12 {
    transform: translate(-50%, -50%) rotate(66deg);
}

.marking13 {
    transform: translate(-50%, -50%) rotate(72deg);
}

.marking14 {
    transform: translate(-50%, -50%) rotate(78deg);
}

.marking15 {
    transform: translate(-50%, -50%) rotate(84deg);
}

.marking16 {
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 2;
}

.marking17 {
    transform: translate(-50%, -50%) rotate(96deg);
}

.marking18 {
    transform: translate(-50%, -50%) rotate(102deg);
}

.marking19 {
    transform: translate(-50%, -50%) rotate(108deg);
}

.marking20 {
    transform: translate(-50%, -50%) rotate(114deg);
}

.marking21 {
    transform: translate(-50%, -50%) rotate(120deg);
    z-index: 2;
}

.marking22 {
    transform: translate(-50%, -50%) rotate(126deg);
}

.marking23 {
    transform: translate(-50%, -50%) rotate(132deg);
}

.marking24 {
    transform: translate(-50%, -50%) rotate(138deg);
}

.marking25 {
    transform: translate(-50%, -50%) rotate(144deg);
}

.marking26 {
    transform: translate(-50%, -50%) rotate(150deg);
    z-index: 2;
}

.marking27 {
    transform: translate(-50%, -50%) rotate(156deg);
}

.marking28 {
    transform: translate(-50%, -50%) rotate(162deg);
}

.marking29 {
    transform: translate(-50%, -50%) rotate(168deg);
}

.marking30 {
    transform: translate(-50%, -50%) rotate(174deg);
}





.hand {
    position: absolute;
    z-index: 10;
}

.secondsHand {
    width: 2px;
    height: 90px;
    background-color: crimson;
    left:50%;
    top: 10px;
    z-index: 113;
    transform-origin: 1px 80px;
    transform: translateX(-50%) rotate(50deg);
}

.minutesHand {
    width: 4px;
    height: 70px;
    background-color: goldenrod;
    border: 1.5px solid #333;
    left:50%;
    top: 20px;
    z-index: 112;
    transform-origin: 2px 70px;
    transform: translateX(-50%) rotate(200deg);
}

.hoursHand {
    width: 6px;
    height: 40px;
    background-color: goldenrod;
    border: 2px solid #333;
    left:50%;
    top: 50px;
    z-index: 111;
    transform-origin: 3px 40px;
    transform: translateX(-50%) rotate(1250deg);
}

.dayScreen {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 20;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    border-radius: 2px;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
}

.dayName {
    position: absolute;
    width: 40px;
    height: 15px;
    z-index:20;
    background-color: white;
    color: #333;
    border: 1px solid #333;
    border-radius: 2px;
    top: 50%;
    left: 65.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
}

